<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            text-align: center;
        }

        h3 {
            font-size: 20px;
            display: inline-block;
            text-align: center;

        }

        h3 a {
            float: center;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        #container h1 {
            text-align: center;
        }

       .img img {
            width: 85%;
            margin-left: 100px;
            margin-top: 80px;
            border-radius: 30px;
            border: 5px solid black;
            display: block;
            margin-bottom: 40px;
            text-align: left;
        }
        .img{
            width: 42%;
            display: inline-block;
        }
        .img h4{
            text-align: center;
        }
        .img p{
            text-align: center;
        }
        .aboutdog h2{
            text-align: center;
            margin-top: 30%;
            margin-left: 30%;
            
        }
        
        .aboutdog p{
            width: 80%;
            display: inline-block;
            text-align:center;
            margin-left: 30%;
            font-size: 20px;

        }
        .aboutdog{
            margin: 0px;
            width: 35%;
            vertical-align: top;
            display: inline-block;
        }
        #carpet{
            display: flex;
            justify-content: space-evenly;
            text-align: left;
        }
            

        
        
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <!-- NAV BAR -->

    <h3><a href="/">Home</a></h3>
    <h3><a href="/projects">Projects</a></h3>
    <h3><a href="/contacts">Contacts</a></h3>
    <!-- NAV BAR ENDS -->
    <div id = "carpet">
    <div id="container">
        <h1>ABOUT DOG</h1>
        <div class="img">
            <!-- squiggle takes you to the wwwroot folder -->
            <img src="~/Loon.jpeg" alt="Loon">
            <h4>Little Lou</h4>
            <p>"Want to play game?"</p>
        </div>

        <div class = "aboutdog">
            <h2>My Name is Louie</h2>
            <p>Doggo ipsum thicc length boy vvv length boy pupper, maximum borkdrive you are doing me the shock long doggo I am bekom fat heckin good boys and girls, vvv wrinkler big ol pupper. Corgo pats what a nice floof, shooberino. Puggorino he made many woofs what a nice floof tungg heckin good boys and girls heckin good boys, floofs tungg heck doge. Sub woofer floofs pats shibe very hand that feed shibe, he made many woofs sub woofer. doge vvv extremely cuuuuuute. Stop it fren doggo fluffer dat tungg tho super chub, long doggo you are doing me the shock. Sub woofer very hand that feed shibe wow very biscit doge floofs doge, heckin good boys such treat wrinkler.

            </p>

        </div>
    </div>





    </div>
</body>

</html>