<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            text-align: center;
        }
        h3{
            font-size: 20px;
            display: inline-block;
            text-align: center;
            
        }
        h3 a{
            float: center;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        h1{
            text-align: center;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PROJECTS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <!-- NAV BAR -->
    <h3><a href="/">Home</a></h3>
    <h3><a href="/projects">Projects</a></h3>
    <h3><a href="/contacts">Contacts</a></h3>
<div id = "container">
    <h1>PROJECTS</h1>

    <p>COMING SOON</p>

</div>
</body>
</html>